<?xml version="1.0" ?>
        <robot name="model.urdf">
            
        <material name="Gray">
            <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
            
            <link name="base_link"/>
            
            <link concave="no" name="link_1">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005092111718412978 0.1 0.05142787987854228" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005092111718412978 0.1 0.05142787987854228"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_2">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005092111718412978 0.1 0.05142787987854228" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005092111718412978 0.1 0.05142787987854228"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_3">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08905381179501778" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08905381179501778"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_4">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08905381179501778" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08905381179501778"/>
                </geometry>
            </collision>
            </link>
        
            
            <joint name="joint_1" type="fixed">
                <parent link="base_link"/>
                <child link="link_1"/>
                <origin xyz="0.013693161164097706 0 0.02571393993927114" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_2" type="fixed">
                <parent link="base_link"/>
                <child link="link_2"/>
                <origin xyz="-0.013693161164097706 0 0.02571393993927114" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_3" type="fixed">
                <parent link="base_link"/>
                <child link="link_3"/>
                <origin xyz="0.018739217023304194 0 0.04452690589750889" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_4" type="fixed">
                <parent link="base_link"/>
                <child link="link_4"/>
                <origin xyz="-0.018739217023304194 0 0.04452690589750889" rpy="0.0 0.0 0.0"/>
            </joint>
        
        </robot>
        