<?xml version="1.0" ?>
        <robot name="model.urdf">
            
        <material name="Gray">
            <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
            
            <link name="base_link"/>
            
            <link concave="no" name="link_1">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.016094656297717863 0.1 0.02909128158557557" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.016094656297717863 0.1 0.02909128158557557"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_2">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.016094656297717863 0.1 0.02909128158557557" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.016094656297717863 0.1 0.02909128158557557"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_3">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.04598022661269167" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.04598022661269167"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_4">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.04598022661269167" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.04598022661269167"/>
                </geometry>
            </collision>
            </link>
        
            
            <joint name="joint_1" type="fixed">
                <parent link="base_link"/>
                <child link="link_1"/>
                <origin xyz="0.017118944284338168 0 0.014545640792787785" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_2" type="fixed">
                <parent link="base_link"/>
                <child link="link_2"/>
                <origin xyz="-0.017118944284338168 0 0.014545640792787785" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_3" type="fixed">
                <parent link="base_link"/>
                <child link="link_3"/>
                <origin xyz="0.0276662724331971 0 0.022990113306345834" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_4" type="fixed">
                <parent link="base_link"/>
                <child link="link_4"/>
                <origin xyz="-0.0276662724331971 0 0.022990113306345834" rpy="0.0 0.0 0.0"/>
            </joint>
        
        </robot>
        