<?xml version="1.0" ?>
        <robot name="model.urdf">
            
        <material name="Gray">
            <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
            
            <link name="root"/>
            
            <link concave="no" name="link_top">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/Nut_top.obj" scale="0.0417054310965338 0.0417054310965338 0.021383815526490334" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/Nut_top.obj" scale="0.0417054310965338 0.0417054310965338 0.021383815526490334"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_bot">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/Nut_bottom.obj" scale="0.01908651606945206 0.01908651606945206 0.017250545655106454" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/Nut_bottom.obj" scale="0.01908651606945206 0.01908651606945206 0.017250545655106454"/>
                </geometry>
            </collision>
            </link>
        
            
            <joint name="top_joint" type="fixed">
                <parent link="root"/>
                <child link="link_top"/>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="bot_joint" type="fixed">
                <parent link="root"/>
                <child link="link_bot"/>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            </joint>
        
        </robot>
        