<?xml version="1.0" ?>
        <robot name="model.urdf">
            
        <material name="Gray">
            <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
            
            <link name="base_link"/>
            
            <link concave="no" name="link_1">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005000000000000001 0.1 0.03743435349306267" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005000000000000001 0.1 0.03743435349306267"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_2">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005000000000000001 0.1 0.03743435349306267" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005000000000000001 0.1 0.03743435349306267"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_3">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08141064256569644" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08141064256569644"/>
                </geometry>
            </collision>
            </link>
        
            
            <link concave="no" name="link_4">
            <inertial>
                <density value="1000"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08141064256569644" />
                </geometry>
                <material name="Gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                <mesh filename="assets/meshes/stutzmontage/visual/fixture_box.obj" scale="0.005 0.1 0.08141064256569644"/>
                </geometry>
            </collision>
            </link>
        
            
            <joint name="joint_1" type="fixed">
                <parent link="base_link"/>
                <child link="link_1"/>
                <origin xyz="0.0069250018052016225 0 0.018717176746531335" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_2" type="fixed">
                <parent link="base_link"/>
                <child link="link_2"/>
                <origin xyz="-0.0069250018052016225 0 0.018717176746531335" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_3" type="fixed">
                <parent link="base_link"/>
                <child link="link_3"/>
                <origin xyz="0.011925001805201623 0 0.04070532128284822" rpy="0.0 0.0 0.0"/>
            </joint>
        
            
            <joint name="joint_4" type="fixed">
                <parent link="base_link"/>
                <child link="link_4"/>
                <origin xyz="-0.011925001805201623 0 0.04070532128284822" rpy="0.0 0.0 0.0"/>
            </joint>
        
        </robot>
        